<div id="app">
    <div class="header">
        <div class="nameWrap">
            <img class="sl" src="../assets/img/sl.jpg" alt="sl">
            <span>shengaaaliang</span>
        </div>
        <ul class="ageWrap">
            <li>1992.7.5</li>
            <li>男</li>
            <li>狮子座</li>
            <li class="message"></li>
        </ul>
    </div>
    <div class="content">
        <div class="left">
            <ul>
                <li>111</li>
                <li>111</li>
                <li>111</li>
                <li>111</li>
                <li>111</li>
                <li>111</li>
            </ul>
        </div>
        <div class="right">
            <div>aaa</div>
        </div>
    </div>
    <div class="footer">
        <small>@copy</small>
    </div>
</div>