.header {
    position: relative;
    border: 1px solid blue;
}
.nameWrap {
    display: inline-block;
}
.ageWrap {
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
    list-style: none;
    margin: 0;
    text-align: right;
}
.ageWrap li {
    float: left;
    margin: 0 10px;
}
.message {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../assets/img/th.jpg');
    background-size: 100% 100%;
    color: black;
}
.sl {
    width: 100px;
    height: 100px;
}
.content {
    position: relative;
    overflow: hidden;
}
.left, .right {
    border: 1px solid blue;
}
.left {
    float: left;
}
.right {
    position: absolute;
    left: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    clear: both;
}
.footer {
    border: 1px solid blue;
}